<% include ../partials/header %>

<div class="container mt-2">
	<div class="media">
		<img class="align-self-center mr-3" src="<%= movie.Poster %>">
		<div class="media-body">
			<h3 class="mt-0"><%= movie.Title %></h3>
			<p><strong>Year:</strong> <%= movie.Year %></p>
			<p><strong>Director:</strong> <%= movie.Director %></p>
			<p><strong>Actors:</strong> <%= movie.Actors %></p>
			<p><strong>Genre:</strong> <%= movie.Genre %></p>
			<p><strong>Description:</strong></p>
			<p><%= movie.Plot %></p>
		</div>
	</div>
</div>

<div class="container mt-5">

<% if (users && users[0]) { %>
		<h5>Users who like <%= movie.Title %></h5>
		<ul class="list-group list-group-flush">
			<% users.forEach((user) => { %>
				<li class="list-group-item"><%= user.username %></li>
			<% }); %>	
		</ul>
<% } %>

</div>
	
<form action="/search/<%= movie.imdbID %>" method="POST">
	<input type="hidden" name="title" value="<%= movie.Title %>">
	<input type="hidden" name="imdbId" value="<%= movie.imdbID %>">
	<button class="btn btn-info">Add to list</button>
</form>

<% include ../partials/footer %>