<% include ../partials/header %>

<div id="resultbox">
	<% if (movie) { %>
		<h1><%= movie.Title %></h1>
		<p><strong>Year:</strong> <%= movie.Year %></p>
		<img src="<%= movie.Poster %>">
		<p><strong>Director:</strong> <%= movie.Director %></p>
		<p><strong>Actors:</strong> <%= movie.Actors %></p>
		<p><strong>Genre:</strong> <%= movie.Genre %></p>
		<p><%= movie.Plot %></p>
	<% } %>
</div>
	
<% if (users && users[0]) { %>
	<div class="userbox">
		<hr>
		<h3>Users who likes <%= movie.Title %></h3>
		<% users.forEach(function(user) { %>
			<p><%= user.username %></p>
		<% }); %>
	</div>
<% } %>
	
<form action="/search/<%= movie.imdbID %>" method="POST">
	<input type="hidden" name="title" value="<%= movie.Title %>">
	<input type="hidden" name="imdbId" value="<%= movie.imdbID %>">
	<button class="addbtn">Add to list</button>
</form>


<% include ../partials/footer %>